certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
lark-parser==0.7.4
lxml==4.6.3
MarkupSafe==1.1.1
netifaces==0.10.9
nltk==3.4.5
PyLD==1.0.5
pymantic==0.2.5
pyparsing==2.4.2
pytz==2019.2
rdflib==4.2.2
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.5
