<!DOCTYPE html>
<html>
    <head>
        <title>Inveniet</title>
        <meta charset="utf-8" />

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


        {% if output %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"/></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"/></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.js"/></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chartist.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/chartist.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/chartist-plugin-threshold.js') }}"></script>


        {% endif %}


        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
 
<style>
            body {
                padding: 0;
                margin: 0;
            }
            html, body {
                height: 100%;
            }
            input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            }

            .number-input {
            border: 2px solid #ddd;
            display: inline-flex;
            }

            .number-input,
            .number-input * {
            box-sizing: border-box;
            }

            .ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
                stroke: transparent;
                }

                .ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
                stroke: transparent;
                }

                .ct-area.ct-threshold-above {
                fill: lightblue;
                fill-opacity: 1
                }

                .ct-area.ct-threshold-below {
                fill: lightblue;
                fill-opacity: 1
                }


        </style>
 
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="home.html">
                      <!--<img src="css\Cavallino.png" width="30" height="40" class="d-inline-block align-top" alt="">-->
                      PRANCING HORSE
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                            <a class="nav-link" href="home.html">
                                            HOME
                                            </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link"  href="career.html">
                                                CAREER
                                            </a>
                                </li>
                            </ul>
                          </div>
                        </nav>


        <div class="container-fluid" style="margin-top: 30px">
        
        
        <!--step query-->
        {% if step == "query" %}
        <form action= "/"  method="POST">
            <div class="form-group">
              <label for="query">Query</label>
              <input type="text" class="form-control" id="query" name="query" placeholder="Enter query" required>
              <small class="form-text text-muted">Multiple boolean operators query (and, or, not)</small>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
        {% endif %}

        <!--step results-->
        {% if step == "results" %}
            <a href="{{ url_for('index') }}">  <button class="btn btn-secondary" type="button">BACK for a new Query</button></a>
            {% if output %}
                <div class="row">
                        <div class="col-md-6">
                                <div id="map" style="height: 500px;" ></div>
                        </div>
                        <div class="col-md-6">
                                <div id="chartcontainer">
                                    <div id="chart"></div>
                                </div>
                                <div id="timeline" style="margin-right: 15px; margin-left: 15px;"></div>
                                <div style="margin-right: auto; margin-left: auto; width: 90%; margin-bottom: 10px; text-align: center;">
                                        <button class="timevent" id="prev"><</button>
                                            DATE: <input type="number" min='{{ min }}' max= '{{ max }}' step="1" id="input-date"> A.D.
                                        <button class="timevent" id="next">></button>
                                </div>
                                
                                
                        </div>
                </div>
            {% else %}
             NO RESULTS
            {% endif %}
        {% endif %}



        </div>
    

        <footer class="footer bg-secondary text-white" style="margin-bottom: 0px;margin-top: 30px; padding: 20px">
            
                <div class="container-fluid text-center py-2" style="font-size: 80%">
                        <div  style="margin-bottom: 10px">
                                <b>Powered by:</b>
                                <a href="http://visjs.org/" class="text-light">Visjs</a>, 
                                <a href="https://getbootstrap.com/" class="text-light">Bootstrap</a>, 
                                <a href="https://leafletjs.com/" class="text-light">Leaflet</a>, 
                                <a href="https://www.chartjs.org/" class="text-light">Chartjs</a>
                        </div>
                          
                
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /> <p style="margin: 0px; font-size: 8pt">This work is licensed under a <a style="color: grey;" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></p>
     </footer>


     {% if output %}

    <script>
            
    $( document ).ready(function() {
        var map = L.map('map', {
			maxZoom: 11,
			minZoom: 4,
			maxBoundsViscosity: 1,
		});

		map.setView([45.43, 13.18], 4);
		imageBounds = [
			[21.08, -28.04],
			[62.12, 50.54]
		]; 
		map.on("zoomstart", function () {
			zoomLev = map.getZoom(6)
		})
		map.setMaxBounds(imageBounds);
        var basemap_0 = L.tileLayer('https://dare.ht.lu.se/tiles/imperium/{z}/{x}/{y}.png', {id: 'pelagios' ,attribution: 'Map Tiles: <a href="http://commons.pelagios.org/">Pelagios Commons</a>'});
        basemap_0.addTo(map);


        var epigraphs = JSON.parse('{{ output | tojson | safe }}');     


        function pop_epigraphs(feature, layer) {
            var popupContent = '<b>ID: ' + "<a href='" + String(feature.properties['epigraph']) + "'>" + String(feature.properties['id']) + '</a></b>' +
                               '<br> <b>Text:</b> ' + String(feature.properties['text']) +
                               '<br> <b>Place:</b> ' +  "<a href='" + String(feature.properties['place']) + "'>" + String(feature.properties['place_name']) + '</a>' +
                               '<br> <b>Period:</b> ' + String(feature.properties['start']) + " - " + String(feature.properties['end']) + " A.D.";

            layer.bindPopup(popupContent);
        }

        function epigraphs_marker(feature, latlng) {
            return L.circleMarker(latlng, {
                radius: 8.0,
                fillColor: '#5bc0de',
                color: '#000000',
                weight: 1,
                opacity: 1.0,
                fillOpacity: 0.8
            })
        }
        var epigraphs_layer = new L.geoJson(epigraphs,{
            onEachFeature: pop_epigraphs,
            pointToLayer: epigraphs_marker
        });
        var cluster_epigraphs_layer= new L.MarkerClusterGroup({maxClusterRadius: 40, showCoverageOnHover: false});
        cluster_epigraphs_layer.addLayer(epigraphs_layer);
        cluster_epigraphs_layer.addTo(map);





        //SLIDER

        var monoslider = document.getElementById('timeline');

        noUiSlider.create(monoslider, {
            start: parseInt('{{ min }}'),
            animate: false,
            connect: 'lower',
            step: 1,
            range: {
                'min': parseInt('{{ min }}'),
                'max': parseInt('{{ max }}')
            },
            format: wNumb({
                decimals: 0
            })
        });
        document.getElementById('input-date').setAttribute("value", '{{ min }}');
        var inputDate = document.getElementById('input-date');

        inputDate.addEventListener('change', function(){
            monoslider.noUiSlider.set([this.value]);
        });


        document.getElementById('prev').onclick = function(){
            monoslider.noUiSlider.set([parseInt(inputDate.value) - 1]);
            }
        document.getElementById('next').onclick = function(){
            monoslider.noUiSlider.set([parseInt(inputDate.value) + 1]);
        }

        //CHART

        var items = []
        var tickchart = []
                for (var date = parseInt('{{ min }}'); date <= parseInt('{{ max }}'); date++) {
                    count = 0
                    tickchart.push(date)
                    epigraphs.forEach(function (ep) {
                        if ( (ep.properties.start <= date) && (ep.properties.end >= date)){
                            count += 1
                        }
                    })
                    obj={}
                    obj.x = date
                    obj.y = count
                    items.push(obj)
                }  
        var data = {
            series: [
            items
            ]
        };
        
        var options = {
            chartPadding: {
            top: 19, // changing this is changing position of threshold line and it shouldn't
            right: 15,
            bottom: 5,
            left: 15
            },
            showArea: true,
            showPoint: true,
            height: "400px",
            axisX: {
            type: Chartist.FixedScaleAxis,
            ticks: tickchart,
            showGrid: false,
            showLabel: false,
            offset: 0,
            },
            axisY: {
            offset: 0,
            showLabel: false
            },

        };
        
        var chart = new Chartist.Line("#chart", data, options);


 // SIC MUNDUS CREATUS EST
        monoslider.noUiSlider.on('update', function( values, handle ) {
        document.getElementById('input-date').value = values[0];

        var date = document.getElementById('input-date').value;

        //first let's clear the layer:
        cluster_epigraphs_layer.clearLayers();
        //and repopulate it
        epigraphs_layer = new L.geoJson(epigraphs,{
            onEachFeature: pop_epigraphs,
                filter:
                    function(feature, layer) {
                        return (feature.properties.start <= date) && (feature.properties.end >= date);
                    },
            pointToLayer: epigraphs_marker
        })
        //and back again into the cluster group
        cluster_epigraphs_layer.addLayer(epigraphs_layer);
    })
    })
    </script>
    {% endif %}
</body>
</html>