<!DOCTYPE html>
<html>
    <head>
        <title>Invenio</title>
        <meta charset="utf-8" />

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"/></script>



        {% if output %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"/></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.js"/></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
        

        {% endif %}


        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="static/css/main.css"/>
 

 
    </head>
    <body style="background-color:  #494949">
            
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="position: absolute">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if step == "results" %}
                    <a class="navbar-brand navbar-right" href="#" style="margin-left:15px">inven<b class="text-white">IO</b></a>
                    {% endif %}
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">DOCUMENTATION</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">GITHUB</a>
                        </li>
                      </ul>
                    </div>
            </nav>
        
        <!--step query-->
        {% if step == "query" %}
        <div id="headercontainer" class="container-fluid">
                <div id="header" class="row bg-dark" style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('static/css/background.jpg'); background-size: 100%; background-repeat: no-repeat;">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" >
                                <h1 class="text-light" >inven<b class="text-white">IO</b></h1>
                                <form action="" action= "/"  method="POST">
                                        <div class="input-group">
                                            <input autocomplete="false" style="color:white; background-color: rgba(1,1,1,0.4) !important;" type="text" class="form-control" id="s" name="query" placeholder="Enter query" pattern="[a-zA-Z ]+" required>
                                            <span class="input-group-btn">
                                            <input id="fire" type="submit" name="commit" value="Search" class="btn btn-primary" data-disable-with="Search">
                                          </span> 
                                        </div>
                                        <small id="new" class="form-text"><a style="color:beige" href="#tutorial">New to Boolean queries?</a></small>
            
                                </form>
            
                        </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="col-md-2"></div>
                        <div id="tutorial" class="col-md-8 bg-dark text-white" style="padding-top: 25px; padding-bottom:10px"><h4>New to Boolean Queries?</h4></div>
                        <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 bg-light" align=justify style=" padding-bottom: 50px">
                            <div>
                                <p>
                                        Boolean Search is a type of query that combine keywords and Boolean operators (AND, OR and NOT) to refine results.
                                </p>
                                <div style="margin-left: 25px; margin-right: 25px">
                                    <h6>AND</h6>
                                    <p>Ex: <b>"titius AND gaius"</b> This query will retrieve all documents having both "titius" and "gaius".</p>
                                    <h6>OR</h6>
                                    <p>Ex: <b>"caesar OR nihil"</b> This query will retrieve all documents containing the word "caesar" or containing the word "nihil" or both.</p>
                                    <h6>NOT</h6>
                                    <p>Ex: <b>"NOT olet"</b> This query will retrieve all documents except except for those who contain the word "olet".</p>
                                    
                                    <h4 style="margin-top:40px">Combine Operators</h4>
                                    <p>Boolean search operators can be used in any combination, but there is an order in which the operations are executed: </p>
                                        <ul>
                                            <li>First all NOT operators,</li>
                                            <li>Then all OR operators,</li>
                                            <li>Finally all AND operators</li>
                                        </ul> 
                                    <p>Ex. <b>"imperator AND tiberius OR imperator AND NOT nero"</b> will be executed in the following order: imperator AND (tiberius OR imperator) AND (NOT Nero)</p>
                                </div>
                                <h4 style="margin-top:60px">Use Case: Find the IX Legion</h4>
                                <textarea id="demoval" style="width: 100%; height: 80px; resize:none; margin-top:10px; margin-bottom:5px" readonly>legio OR legionis OR legioni OR legionem OR legione AND ix OR viiii AND hispana OR hispanae OR hispanam</textarea>
                                <p>This query combines (AND) 3 sub-queries:</p>
                                <ul>
                                        <li><b>"legio OR legionis OR legioni OR legionem OR legione"</b>: query the noun "legio" in all possible declension cases.</li>
                                        <li><b>"ix OR viiii"</b>: query the number 9.</li>
                                        <li><b>"hispana OR hispanae OR hispanam"</b>: query the adjective "hispana" in all possible declension cases.</li>
                                </ul> 
                                <button id="demo" class="btn btn-secondary">Try this query</button>
                            
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <script>
                    $("#demo").on("click", function() {
                        $("#inputmain").val($("#demoval").val()),
                        $("#fire").click()
                    })
            </script>   
        {% endif %}


        <!--step results-->
        {% if step == "results" %}
        <div style="background-color:#323232; height:55px"></div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-secondary">
                    <a href="{{ url_for('index') }}">  <button style="margin: 15px" class="btn btn-dark" type="button"><b><</b> BACK for a new Query</button></a>
            </div>
            <div class="col-md-6" style="padding: 25px">
                    {% if output %}
                    <div class="text-white" style="padding: 3px">Query: <span style="color:rgba(255,255,255,.5);">"{{ query }}"</span></div>
                    <div id="downloadcontainer" class="text-white" style="padding: 3px">Total documents: <span style="color:rgba(255,255,255,.5);">{{ output|length }}</span></div>
                    {% else %}
                    <div class="text-white" style="padding: 3px">NO RESULTS</div>
                    {% endif %}
            </div>
            <div class="col-md-3 bg-secondary"></div>
        </div>

        {% if output %}
        <div class="row bg-light" style="padding-top: 20px">
                <div class="col-md-6">
                        <div id="map" style="height: 500px; margin-bottom: 15px" ></div>
                </div>
                <div class="col-md-6" style="margin-top: 10px;">
                        <div style="margin-right: auto; margin-left: auto; width: 90%; margin-bottom: 10px; text-align: center;">
                            <div id="counter"></div>
                                <button class="btn btn-dark timevent" id="prev"><</button>
                                    DATE: <input type="number" min='{{ min }}' max= '{{ max }}' step="1" id="input-date"> <span id="dateprefix"></span>
                                <button class="btn btn-dark timevent" id="next">></button>
                                <div id="datestat"></div>
                        </div>
                        <div id="timeline" style="margin-right:10px; margin-left: 10px"></div>
                        <div id="chartcontainer">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
        </div>
        {% endif %}
        </div>
        {% endif %}

    

        <footer class="footer bg-dark text-white" style="margin-bottom: 0px;padding-top: 80px; padding: 20px">
            
                <div class="container-fluid text-center py-2" style="font-size: 80%">
                        <div  style="margin-bottom: 10px">
                                <b>Powered by:</b>
                                <a href="https://getbootstrap.com/" class="text-light">Bootstrap</a>, 
                                <a href="https://leafletjs.com/" class="text-light">Leaflet</a>, 
                                <a href="https://www.chartjs.org/" class="text-light">Chartjs</a>
                        </div>
                          
                
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /> <p style="margin: 0px; font-size: 8pt">This work is licensed under a <a style="color: grey;" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a></p>
     </footer>


     {% if output %}

    <script>


    $( document ).ready(function() {


        var map = L.map('map', {
			maxZoom: 11,
			minZoom: 4,
			maxBoundsViscosity: 1,
		});

		map.setView([45.43, 13.18], 4);
		imageBounds = [
			[21.08, -28.04],
			[62.12, 50.54]
		]; 
		map.on("zoomstart", function () {
			zoomLev = map.getZoom(6)
		})
		map.setMaxBounds(imageBounds);
        var basemap_0 = L.tileLayer('https://dare.ht.lu.se/tiles/imperium/{z}/{x}/{y}.png', {id: 'pelagios' ,attribution: 'Map Tiles: <a href="http://commons.pelagios.org/">Pelagios Commons</a>'});
        basemap_0.addTo(map);


        var epigraphs = JSON.parse('{{ output | tojson | safe }}'); 


        function acdc(str)
        {
            if (str.includes("-")){
                return str.replace("-","") + " B.C."
            }
            else{
                return str + " A.D."
            }
        }
        function popupstring(str, uri){
            if (str.length <= 300)
            {
                return str
            }
            else
            {
                return str.slice(0, 300) + " <a href='" + uri + "'  target='_blank'>(continue reading)</a>"
            }
        }   


        function pop_epigraphs(feature, layer) {
            var popupContent = '<b>ID: ' + "<a href='" + String(feature.properties['epigraph']) + "'  target='_blank'>" + String(feature.properties['id']) + '</a></b>' +
                               '<br> <b>Text:</b> ' + popupstring(String(feature.properties['text']), String(feature.properties['epigraph'])) +
                               '<br> <b>Place:</b> ' +  "<a href='" + String(feature.properties['place']) + "'>" + String(feature.properties['place_name']) + '</a>' +
                               '<br> <b>Period:</b> ' + acdc(String(feature.properties['start'])) + " - " + acdc(String(feature.properties['end'])) ;

            layer.bindPopup(popupContent);
        }

        function epigraphs_marker(feature, latlng) {
            return L.circleMarker(latlng, {
                radius: 8.0,
                fillColor: '#5bc0de',
                color: '#000000',
                weight: 1,
                opacity: 1.0,
                fillOpacity: 0.8
            })
        }
        var epigraphs_layer = new L.geoJson(epigraphs,{
            onEachFeature: pop_epigraphs,
            pointToLayer: epigraphs_marker
        });
        var cluster_epigraphs_layer= new L.MarkerClusterGroup({maxClusterRadius: 40, showCoverageOnHover: false});
        cluster_epigraphs_layer.addLayer(epigraphs_layer);
        cluster_epigraphs_layer.addTo(map);

        //SLIDER

        var monoslider = document.getElementById('timeline');

        noUiSlider.create(monoslider, {
            start: parseInt('{{ min }}'),
            animate: false,
            connect: 'lower',
            step: 1,
            range: {
                'min': parseInt('{{ min }}'),
                'max': parseInt('{{ max }}')
            },
            format: wNumb({
                decimals: 0
            })
        });
        document.getElementById('input-date').setAttribute("value", '{{ min }}');
        var inputDate = document.getElementById('input-date');

        inputDate.addEventListener('change', function(){
            newvalue = this.value
            if (newvalue == 0){ newvalue = -1}
            monoslider.noUiSlider.set(newvalue);
        });


        document.getElementById('prev').onclick = function(){
            monoslider.noUiSlider.set([parseInt(inputDate.value) - 1]);
            }
        document.getElementById('next').onclick = function(){
            monoslider.noUiSlider.set([parseInt(inputDate.value) + 1]);
        }


        //CHART

        var dateindex = 0

        var datemax = 0
        var items = []
        var labels = []
        var sum = 0

        for (var date = parseInt('{{ min }}'); date <= parseInt('{{ max }}'); date++) {
            count = 0
            epigraphs.forEach(function (ep) {
                if ( (ep.properties.start <= date) && (ep.properties.end >= date)){
                    count += 1
                }
            })
            if (date != 0){
                if (count > datemax){ datemax = count}
                sum += count
                labels.push(date)
                items.push( count)
            }
        }

        var leng = labels.length
        avg = Math.round(sum / leng)

        
        
        function customRadius( context )
        {
            let index = context.dataIndex;
            return index === dateindex  ?
                3 :
                0;
        }
        function customColor( context )
        {
            let index = context.dataIndex;
            return index === dateindex  ?
                 'rgba(255, 0, 0, 1)' :
                "transparent";
        }

       
        var ctx = document.getElementById("chart");
        var chart = new Chart(ctx, {
            type: 'line',
            options: {
                plugins: {
					datalabels: {
                        align: 'top',
                        backgroundColor: 'black',
						borderRadius: 4,
						color: 'white',
						display: function(context) {
                            return context.dataIndex === dateindex
                        }
					}
				},
                events: ['click'],
                animation: false,
                layout: {
                padding: {
                        left: 10,
                        right: 10,
                        top: 0,
                        bottom: 0
                    }
                },
                elements: {
                    point: {
                        radius : customRadius,
                        display: true,
                        backgroundColor : customColor,
                        borderWidth: 6,
                        borderColor: 'rgba(255, 0, 0, 0.4)'
                      },
                    line: {
                        borderColor: "transparent",
                        backgroundColor: "rgba(91, 192, 222, 0.5)"
                      }
                },
                legend: {
                    display: false
                },
              scales: {
                xAxes: [{
                  display: true,
                  ticks: {
                  maxRotation: 90,
                  minRotation: 90
                  }
                }],
                yAxes: [{
                  display: false,
                  ticks: {
                      max: datemax + 20
                  }
                }],
              },
              tooltips: {
                enabled: false,
              },
              annotation: {
                annotations: [{
                    drawTime: 'beforeDatasetsDraw',
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: avg,
                    borderColor: 'rgb(0, 0, 0)',
                    borderWidth: 0.5,
                    label: {
                        backgroundColor: 'rgba(0,0,0,0.0)',
                        fontColor: 'rgb(0, 0, 0)',
                        position: "right",
                        enabled: true,
                        yAdjust: -8,
                        content: 'Avg: ' + avg
                    }
                }]
                }
            },
            data: {
                labels: labels,
                datasets: [{
                data: items,
                }]
            }
          });

 

       

        // SIC MUNDUS CREATUS EST

        var last = -10000
        monoslider.noUiSlider.on('update', function( values, handle ) {
        document.getElementById('input-date').value = values[0];

        var date = document.getElementById('input-date').value;

        
        if (date == 0 && last < 0) {
            document.getElementById('input-date').value = 1;
            date = 1
        }
        else if (date == 0 && last > 0) {
            document.getElementById('input-date').value = -1;
            date = -1
        }
        last = date

        //first let's clear the layer:
        cluster_epigraphs_layer.clearLayers();
        //and repopulate it
        epigraphs_layer = new L.geoJson(epigraphs,{
            onEachFeature: pop_epigraphs,
                filter:
                    function(feature, layer) {
                        return (feature.properties.start <= date) && (feature.properties.end >= date);
                    },
            pointToLayer: epigraphs_marker
        })
        //and back again into the cluster group
        cluster_epigraphs_layer.addLayer(epigraphs_layer);

        dateindex = labels.indexOf(parseInt(date))
        chart.update()

        $('#dateprefix').html(function(){
            if (date < 0){
                return "B.C."
            }
            else{
                return "A.D."
            }
        })

        numberdoc = items[dateindex]
        totaldoc = epigraphs.length
        percentage = (numberdoc/totaldoc * 100).toFixed(2)

        function plural(){ if (numberdoc > 1){ return "s "} else{ return " "}}
        $('#datestat').html(numberdoc + " document" + plural() + "out of " + totaldoc + " ("+ percentage + "%)")

        })

        $("#chart").click( function(evt){
                var activePoints = chart.getElementsAtXAxis(evt);           
                if (activePoints[0]) {
                    clickindex = activePoints[0]._index
                    dateclick = labels[clickindex]
                    monoslider.noUiSlider.set(dateclick)
                }
            }
        ); 



        //download json

        var datadown = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(JSON.parse('{{ json | tojson | safe }}')));
        var a = document.createElement('a');
        var img = document.createElement('img')
        a.href = 'data:' + datadown;
        a.download = 'invenio_data.json';
        a.style ="margin-left: 5px;"
        a.innerHTML="(Download Json Dataset)"


        var container = document.getElementById('downloadcontainer');
        container.appendChild(a);
    })

    </script>
    {% endif %}
</body>
</html>